@import 'materialize';

/* FIXME: Workaround for https://github.com/Dogfalo/materialize/issues/1079 */
@each $mdi-icon-name, $mdi-icon-value in $mdi-list-icons {
  .#{$mdi-prefix}#{$mdi-icon-name}:before {
    content: "\""+ $mdi-icon-value +"\"";
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.tabs li.tab a {
      color: #4db6ac;
}

.tabs li.tab a:hover {
      color: #4db6ac;
}
