<div class="navbar-fixed">
{{#md-navbar name='EmberSherpa Twitter' class='teal lighten-2'}}
  {{#link-to 'index' tagName='li'}}
    <a>Home</a>
    {{/link-to}}
  {{#link-to 'add' tagName='li'}}
    <a>Add Tweet</a>
    {{/link-to}}
{{/md-navbar}}
</div>

<br>

<div class="container">
  {{outlet}}
</div> <!-- /container -->

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
